header {
    .back {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            width: 40px;
            height: 40px;
            background-color: #222222;
            color: #fff;
            border-radius: 6px;
            position: fixed;
            bottom: 40px;
            right: 40px;
            transition: 1s;
            z-index: 1;
            transition: 0.3s;
            &:hover{
                background-color: #6f9a37;
            }

        }

    .topOfTop {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        background-color: #222222;
        position: fixed;
        width: 100%;
        z-index: 1;

        a {
            width: 160px;
            color: #fff;
            background-image: url("https://public-assets.envato-static.com/assets/logos/envato_market-dde916a48af7413e54aa058fe7ae6856752fca799da4bec355f00aea904bfa19.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        button {
            background-color: #6f9a37;
            color: #fff;
            border-radius: 6px;
            padding: 10px 24px;
            border: none;
            transition: 0.5s;

            &:hover {
                background-color: #5f8b26;
            }
        }
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 64px;
        height: 48px;
        background-color: #abd373;

        h4 {
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            margin-top: 50px;
        }

        .rightSide {
            height: 48px;
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 50px;

            .currency:after,
            .lang::after {
                font-family: FontAwesome;
                border: 0;
                content: "\f078";
                font-size: 10px;
                color: #fff;
                margin-bottom: 4px;
            }

            button {
                background-color: #ffffff00;
                color: #fff;
                border: none;
                margin-right: 4px;
            }

            .currency {
                height: 48px;
                display: flex;
                align-items: center;
                position: relative;

                .subCurrency {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 5px;
                    padding: 12px 0;
                    width: 120px;
                    height: 72px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 6px;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 150%;
                    z-index: 1;
                    opacity: 0;
                    transition: 0.3s;
                    visibility: hidden;

                    li {
                        width: 100%;
                        padding: 4px;

                        &:hover {
                            background-color: #abd373;
                        }

                        a {
                            margin-left: 16px;
                        }
                    }
                }

                .active {
                    visibility: visible;
                    opacity: 1;
                    top: 100%;
                }

            }

            .lang {
                height: 48px;
                display: flex;
                align-items: center;
                position: relative;

                .subLang {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 12px 8px 12px 0;
                    width: 120px;
                    height: 100px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 6px;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 150%;
                    z-index: 1;
                    opacity: 0;
                    transition: 0.3s;
                    visibility: hidden;

                    li {
                        display: grid;
                        place-items: center;
                        width: 100%;
                        padding: 4px;

                        &:hover {
                            background-color: #abd373;
                        }
                    }
                }

                .active {
                    visibility: visible;
                    top: 100%;
                    opacity: 1;
                }
            }

        }
    }


    .header-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 64px;
        border-bottom: 0.5px solid #cacaca;

        .call {
            display: flex;
            align-items: center;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #abd373;
                border-radius: 20%;

                i {
                    font-size: 18px;
                    color: white;
                    display: block;
                }

            }

            span {
                font-size: 20px;
                margin-left: 16px;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    color: #abd373;
                }
            }
        }

        .imgbox {
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 16px;
            color: #929292;
            font-size: 18px;

            .bars {
                display: none;
                margin-left: 10px;
            }

            li {
                position: relative;
                cursor: pointer;
            }

            .hover {
                transition: 0.5s;

                &:hover i {
                    color: #abd373;
                }
            }

            .sup {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #abd373;
                color: #fff;
                position: absolute;
                left: 14px;
                bottom: 8px;
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    header {
        .header-top {
            display: none;
        }

        .header-bottom {
            padding: 64px 64px 24px;

            .call {
                display: none;
            }

            ul {

                .users,
                .heart {
                    display: none;
                }

                .bars {
                    display: block;
                }
            }
        }
    }
}