header {
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 64px;
        height: 48px;
        background-color: #abd373;

        h4 {
            font-size: 15px;
            font-weight: 500;
            color: #fff;
        }

        .rightSide {
            height: 48px;
            display: flex;
            align-items: center;
            gap: 16px;

            .currency:after, .lang::after {
                font-family: FontAwesome;
                border: 0;
                content: "\f078";
                font-size: 10px;
                color: #fff;
                margin-bottom: 4px;
            }

            button {
                background-color: #ffffff00;
                color: #fff;
                border: none;
                margin-right: 4px;
            }
            .currency {
                height: 48px;
                display: flex;
                align-items: center;
                position: relative;

                .subCurrency {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 5px;
                    padding: 12px 24px;
                    width: 120px;
                    height: 72px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 6px;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    z-index: 1;
                    display: none;
                }

            }
            .lang {
                height: 48px;
                display: flex;
                align-items: center;
                position: relative;


                .subLang {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 12px 8px 12px 0;
                    width: 120px;
                    height: 100px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 6px;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    z-index: 1;
                    display: none;

                    li {
                        width: 100%;
                        padding: 4px;
                        &:hover{
                            background-color: #abd373;
                        }
                    }
                }
            }
        }
    }


    .header-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 64px;
        border-bottom: 0.5px solid #cacaca;

        .call {
            display: flex;
            align-items: center;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #abd373;
                border-radius: 20%;

                i {
                    font-size: 18px;
                    color: white;
                    display: block;
                }

            }

            span {
                font-size: 20px;
                margin-left: 16px;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    color: #abd373;
                }
            }
        }

        .imgbox {
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 16px;
            color: #929292;
            font-size: 18px;

            li {
                position: relative;
                cursor: pointer;
            }

            .hover {
                transition: 0.5s;

                &:hover {
                    color: #abd373;
                }
            }

            .sup {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #abd373;
                color: #fff;
                position: absolute;
                left: 14px;
                bottom: 8px;
            }
        }
    }
}