nav {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;


        li {
            height: 40px;
            padding-right: 32px;
            display: flex;
            align-items: center;

            &:hover .main {
                color: #abd373;
            }

            a::before {
                content: "";
                width: 0%;
                height: 1.5px;
                position: absolute;
                left: 0;
                top: 100%;
                background-color: #000;
    
            }
            a {
                display: flex;
                align-items: center;
                height: 39px;
                color: #000;
                font-size: 14px;
                position: relative;

                &:hover::before {
                    width: 100%;
                    background-color: #abd373;
                    transition: 0.5s;
                }
            }
        }

        .home {
            height: 40px;
            position: relative;

            &:hover .subHome {
                height: 120px;
                opacity: 1;
            }

            .subHome {
                display: flex;
                align-items: start;
                flex-direction: column;
                width: 250px;
                height: 0px;
                background-color: #fff;
                padding: 0 24px;
                position: absolute;
                left: 0;
                top: 100%;
                transition: 0.5s;
                overflow: hidden;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

                a {
                    font-size: 16px;
                    transition: 0.5s;
                    opacity: 1;
                    position: static;

                    &:hover {
                        color: #abd373;
                        margin-left: 5px;
                    }
                }
            }

        }
    }
}