* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/footer/bg/1-1920x465.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0 0;
  min-height: 50%;
}
footer .mainfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px;
  gap: 64px;
}
footer .mainfooter .leftside {
  width: 25%;
}
footer .mainfooter .leftside p {
  font-size: 18px;
  line-height: 1.7;
  padding: 32px 0;
}
footer .mainfooter .leftside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
footer .mainfooter .leftside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #5f5f5f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .mainfooter .leftside ul li:hover {
  background-color: #91c949;
}
footer .mainfooter .leftside ul li:hover a {
  color: #fff;
}
footer .mainfooter .leftside ul li a {
  color: #000;
  font-size: 14px;
}
footer .mainfooter .link, footer .mainfooter .account, footer .mainfooter .service {
  width: 16.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .mainfooter .link h3, footer .mainfooter .account h3, footer .mainfooter .service h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
footer .mainfooter .link ul li, footer .mainfooter .account ul li, footer .mainfooter .service ul li {
  margin: 8px 0;
}
footer .mainfooter .link ul li a, footer .mainfooter .account ul li a, footer .mainfooter .service ul li a {
  color: #000;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .mainfooter .link ul li a:hover, footer .mainfooter .account ul li a:hover, footer .mainfooter .service ul li a:hover {
  color: #91c949;
}
footer .mainfooter .rightside h3 {
  font-size: 24px;
  font-weight: 500;
}
footer .mainfooter .rightside p {
  margin: 16px 0 24px;
}
footer .mainfooter .rightside p a {
  font-size: 24px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .mainfooter .rightside p a:hover {
  color: #91c949;
}
footer .mainfooter .rightside span {
  font-size: 18px;
}
footer .mainfooter .rightside img {
  margin-top: 32px;
}
footer .bottomfooter {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #a7cca2;
  margin: 0 48px;
}
footer .bottomfooter p {
  font-size: 18px;
  color: #70a52b;
}
footer .bottomfooter p i {
  color: #cb0606;
}

@media screen and (max-width: 992px) {
  footer .mainfooter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .mainfooter .leftside {
    width: 100%;
  }
  footer .mainfooter .link, footer .mainfooter .account, footer .mainfooter .service {
    width: 25%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .mainfooter .rightside {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  footer .mainfooter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .mainfooter .leftside {
    width: 100%;
  }
  footer .mainfooter .link, footer .mainfooter .account, footer .mainfooter .service {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .mainfooter .rightside {
    width: 100%;
  }
}
.main-nav {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav ul {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav ul li {
  height: 40px;
  padding-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav ul li:hover .main {
  color: #abd373;
}
.main-nav ul li a::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #000;
}
.main-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  color: #000;
  font-size: 14px;
  position: relative;
}
.main-nav ul li a:hover::before {
  width: 100%;
  background-color: #abd373;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-nav ul .home {
  position: relative;
}
.main-nav ul .home:hover .subHome {
  height: 120px;
}
.main-nav ul .home .subHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 0px;
  background-color: #fff;
  padding: 0 24px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.main-nav ul .home .subHome a {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
.main-nav ul .home .subHome a:hover {
  color: #abd373;
  margin-left: 5px;
}
.main-nav ul .shop {
  position: relative;
}
.main-nav ul .shop:hover .submenu {
  height: 360px;
}
.main-nav ul .shop .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 840px;
  height: 0px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: -72px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.main-nav ul .shop .submenu li {
  padding-right: 0px;
}
.main-nav ul .shop .submenu li h3 {
  margin-bottom: 10px;
}
.main-nav ul .shop .submenu li a {
  position: static;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.main-nav ul .shop .submenu li a:hover {
  color: #abd373;
  margin-left: 5px;
}
.main-nav ul .shop .submenu .subShop-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 280px;
  padding-left: 32px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #d9d9d9;
  margin: 40px 0;
}
.main-nav ul .shop .submenu .subShop-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 280px;
  padding-left: 32px;
  overflow: hidden;
  position: absolute;
  left: 280px;
  top: 0;
  border-right: 1px solid #d9d9d9;
  margin: 40px 0;
}
.main-nav ul .shop .subShop-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 280px;
  padding-left: 32px;
  overflow: hidden;
  position: absolute;
  left: 560px;
  top: 0;
  margin: 40px 0;
}
.main-nav ul .blog {
  position: relative;
  overflow: hidden;
}
.main-nav ul .blog:hover .subBlog {
  height: 140px;
  opacity: 1;
  overflow: visible;
}
.main-nav ul .blog:hover {
  overflow: visible;
}
.main-nav ul .blog .subBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #ffffff;
  width: 240px;
  height: 0px;
  padding: 24px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
}
.main-nav ul .blog .subBlog a:hover::before {
  display: none;
}
.main-nav ul .blog .subBlog .hidden {
  padding: 20px 0;
}
.main-nav ul .blog .subBlog .hidden a {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
.main-nav ul .blog .subBlog .hidden a:hover {
  color: #abd373;
  margin-left: 5px;
}
.main-nav ul .blog .subBlog .multi {
  position: relative;
}
.main-nav ul .blog .subBlog .multi:hover .leveltwo {
  height: 64px;
  opacity: 1;
}
.main-nav ul .blog .subBlog .multi .leveltwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #fff;
  width: 200px;
  height: 0;
  padding: 24px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: absolute;
  left: 216px;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.main-nav ul .blog .subBlog .multi .leveltwo .subLevelTwo {
  position: relative;
}
.main-nav ul .blog .subBlog .multi .leveltwo .subLevelTwo:hover .levelThree {
  height: 64px;
  opacity: 1;
}
.main-nav ul .blog .subBlog .multi .leveltwo .subLevelTwo .levelThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #fff;
  width: 200px;
  height: 0;
  padding: 24px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: absolute;
  left: 176px;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.main-nav ul .pages {
  height: 40px;
  position: relative;
}
.main-nav ul .pages:hover .subPages {
  height: 100px;
  opacity: 1;
}
.main-nav ul .pages .subPages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 0px;
  background-color: #fff;
  padding: 0 24px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.main-nav ul .pages .subPages a {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
.main-nav ul .pages .subPages a:hover {
  color: #abd373;
  margin-left: 5px;
}

@media only screen and (max-width: 992px) {
  nav {
    display: none;
  }
}
.nav-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 64px;
  background-color: #fff;
  position: fixed;
  top: 48px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.nav-scroll .navlist {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-scroll .navlist li {
  height: 100px;
  padding-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-scroll .navlist li:hover .main {
  color: #abd373;
}
.nav-scroll .navlist li a::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #000;
}
.nav-scroll .navlist li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98px;
  color: #000;
  font-size: 14px;
  position: relative;
}
.nav-scroll .navlist li a:hover::before {
  width: 100%;
  background-color: #abd373;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav-scroll .navlist .home {
  position: relative;
}
.nav-scroll .navlist .home:hover .subHome {
  height: 120px;
}
.nav-scroll .navlist .home .subHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 0px;
  background-color: #fff;
  padding: 0 24px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.nav-scroll .navlist .home .subHome .homelist {
  margin: 10px 0 0;
}
.nav-scroll .navlist .home .subHome a {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
.nav-scroll .navlist .home .subHome a:hover {
  color: #abd373;
  margin-left: 5px;
}
.nav-scroll .navlist .shop {
  position: relative;
}
.nav-scroll .navlist .shop:hover .submenu {
  height: 360px;
}
.nav-scroll .navlist .shop .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 840px;
  height: 0px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: -72px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.nav-scroll .navlist .shop .submenu li {
  padding-right: 0px;
}
.nav-scroll .navlist .shop .submenu li h3 {
  margin-bottom: 10px;
}
.nav-scroll .navlist .shop .submenu li a {
  position: static;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.nav-scroll .navlist .shop .submenu li a:hover {
  color: #abd373;
  margin-left: 5px;
}
.nav-scroll .navlist .shop .submenu .subShop-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 280px;
  padding-left: 32px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #d9d9d9;
  margin: 40px 0;
}
.nav-scroll .navlist .shop .submenu .subShop-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 280px;
  padding-left: 32px;
  overflow: hidden;
  position: absolute;
  left: 280px;
  top: 0;
  border-right: 1px solid #d9d9d9;
  margin: 40px 0;
}
.nav-scroll .navlist .shop .subShop-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 280px;
  padding-left: 32px;
  overflow: hidden;
  position: absolute;
  left: 560px;
  top: 0;
  margin: 40px 0;
}
.nav-scroll .navlist .blog {
  position: relative;
}
.nav-scroll .navlist .blog a:hover::before {
  display: none;
}
.nav-scroll .navlist .blog:hover .subBlog {
  height: 140px;
  opacity: 1;
}
.nav-scroll .navlist .blog .subBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #ffffff;
  width: 240px;
  height: 0px;
  padding: 12px 24px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
}
.nav-scroll .navlist .blog .subBlog .hidden {
  padding: 20px 0;
}
.nav-scroll .navlist .blog .subBlog .hidden a {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
.nav-scroll .navlist .blog .subBlog .hidden a:hover {
  color: #abd373;
  margin-left: 5px;
}
.nav-scroll .navlist .pages {
  height: 40px;
  position: relative;
}
.nav-scroll .navlist .pages:hover .subPages {
  height: 100px;
  opacity: 1;
}
.nav-scroll .navlist .pages .subPages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 0px;
  background-color: #fff;
  padding: 0 24px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.nav-scroll .navlist .pages .subPages .pagelist {
  margin: 4px 0 0;
}
.nav-scroll .navlist .pages .subPages a {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
.nav-scroll .navlist .pages .subPages a:hover {
  color: #abd373;
  margin-left: 5px;
}
.nav-scroll .headerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #929292;
  font-size: 18px;
  gap: 16px;
}
.nav-scroll .headerlist .bars {
  display: none;
  margin-left: 10px;
}
.nav-scroll .headerlist li {
  position: relative;
  cursor: pointer;
}
.nav-scroll .headerlist .hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav-scroll .headerlist .hover:hover i {
  color: #abd373;
}
.nav-scroll .headerlist .sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #abd373;
  color: #fff;
  position: absolute;
  left: 14px;
  bottom: 8px;
}

@media only screen and (max-width: 992px) {
  .nav-scroll .navlist {
    display: none;
  }
  .nav-scroll .headerlist .users, .nav-scroll .headerlist .heart {
    display: none;
  }
  .nav-scroll .headerlist .bars {
    display: block;
  }
}
header .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  width: 40px;
  height: 40px;
  background-color: #222222;
  color: #fff;
  border-radius: 6px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .back:hover {
  background-color: #6f9a37;
}
header .topOfTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  background-color: #222222;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .topOfTop a {
  width: 160px;
  color: #fff;
  background-image: url("https://public-assets.envato-static.com/assets/logos/envato_market-dde916a48af7413e54aa058fe7ae6856752fca799da4bec355f00aea904bfa19.svg");
  background-repeat: no-repeat;
  background-position: center;
}
header .topOfTop button {
  background-color: #6f9a37;
  color: #fff;
  border-radius: 6px;
  padding: 10px 24px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .topOfTop button:hover {
  background-color: #5f8b26;
}
header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 64px;
  height: 48px;
  background-color: #abd373;
}
header .header-top h4 {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-top: 50px;
}
header .header-top .rightSide {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 50px;
}
header .header-top .rightSide .currency:after,
header .header-top .rightSide .lang::after {
  font-family: FontAwesome;
  border: 0;
  content: "\f078";
  font-size: 10px;
  color: #fff;
  margin-bottom: 4px;
}
header .header-top .rightSide button {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: none;
  margin-right: 4px;
}
header .header-top .rightSide .currency {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header-top .rightSide .currency .subCurrency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  padding: 12px 0;
  width: 120px;
  height: 72px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 150%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}
header .header-top .rightSide .currency .subCurrency li {
  width: 100%;
  padding: 4px;
}
header .header-top .rightSide .currency .subCurrency li:hover {
  background-color: #abd373;
}
header .header-top .rightSide .currency .subCurrency li a {
  margin-left: 16px;
}
header .header-top .rightSide .currency .active {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
header .header-top .rightSide .lang {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header-top .rightSide .lang .subLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 8px 12px 0;
  width: 120px;
  height: 100px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 150%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}
header .header-top .rightSide .lang .subLang li {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 4px;
}
header .header-top .rightSide .lang .subLang li:hover {
  background-color: #abd373;
}
header .header-top .rightSide .lang .active {
  visibility: visible;
  top: 100%;
  opacity: 1;
}
header .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 64px;
  border-bottom: 0.5px solid #cacaca;
}
header .header-bottom .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-bottom .call .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #abd373;
  border-radius: 20%;
}
header .header-bottom .call .icon i {
  font-size: 18px;
  color: white;
  display: block;
}
header .header-bottom .call span {
  font-size: 20px;
  margin-left: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
header .header-bottom .call span:hover {
  color: #abd373;
}
header .header-bottom .imgbox {
  cursor: pointer;
}
header .header-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: #929292;
  font-size: 18px;
}
header .header-bottom ul .bars {
  display: none;
  margin-left: 10px;
}
header .header-bottom ul li {
  position: relative;
  cursor: pointer;
}
header .header-bottom ul .hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .header-bottom ul .hover:hover i {
  color: #abd373;
}
header .header-bottom ul .sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #abd373;
  color: #fff;
  position: absolute;
  left: 14px;
  bottom: 8px;
}

@media only screen and (max-width: 992px) {
  header .header-top {
    display: none;
  }
  header .header-bottom {
    padding: 64px 64px 24px;
  }
  header .header-bottom .call {
    display: none;
  }
  header .header-bottom ul .users,
  header .header-bottom ul .heart {
    display: none;
  }
  header .header-bottom ul .bars {
    display: block;
  }
}
#newplant {
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg");
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}
#newplant .topside {
  display: none;
}
#newplant .leftside {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#newplant .leftside .textbox {
  padding-left: 64px;
}
#newplant .leftside .textbox h3 {
  font-size: 48px;
  font-weight: 500;
  color: #2b2b2b;
}
#newplant .leftside .textbox h1 {
  font-size: 84px;
  font-weight: 500;
}
#newplant .leftside .textbox h4 {
  font-size: 22px;
  margin: 16px 0 48px;
  color: #2b2b2b;
}
#newplant .leftside .textbox button {
  background-color: #abd373;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 24px 48px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#newplant .leftside .textbox button:hover {
  background-color: #525252;
}
#newplant .rightside {
  width: 50%;
}

@media screen and (max-width: 992px) {
  #newplant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #newplant .topside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  #newplant .topside .imgbox {
    width: 40%;
    position: relative;
  }
  #newplant .leftside {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #newplant .leftside .textbox {
    padding: 32px;
    text-align: center;
  }
  #newplant .leftside .textbox h3 {
    font-size: 32px;
  }
  #newplant .leftside .textbox h1 {
    font-size: 40px;
    font-weight: 700;
  }
  #newplant .leftside .textbox h4 {
    font-size: 18px;
    margin: 10px 0 32px;
  }
  #newplant .leftside .textbox button {
    padding: 20px 32px;
  }
  #newplant .rightside {
    display: none;
  }
}
#safepayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 100px;
}
#safepayment .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #abd373;
  padding: 25px 28px;
}
#safepayment .card .textbox {
  margin-left: 16px;
}
#safepayment .card .textbox h3 {
  margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
  #safepayment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #safepayment .card {
    margin: 12px;
  }
}
@media screen and (max-width: 768px) {
  #safepayment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 24px 0;
  }
  #safepayment .card {
    width: 100%;
  }
}
#ourproducts {
  min-height: 100vh;
  padding: 100px 0;
}
#ourproducts .topside {
  text-align: center;
}
#ourproducts .topside h2 {
  font-size: 32px;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;
  display: inline;
}
#ourproducts .topside h2::before,
#ourproducts .topside h2::after {
  content: "";
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 50%;
}
#ourproducts .topside h2::before {
  left: 0;
}
#ourproducts .topside h2::after {
  right: 0;
}
#ourproducts .middleside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}
#ourproducts .middleside button {
  background-color: #fff;
  border: 0.5px solid #dedede;
  border-radius: 6px;
  padding: 12px 25px;
  font-size: 18px;
  margin: 0 10px;
}
#ourproducts .middleside button:hover a {
  color: #abd373;
}
#ourproducts .middleside button:hover {
  border: 1px dashed #abd373;
  color: #abd373;
}
#ourproducts .bottomside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
#ourproducts .bottomside .card {
  width: 25%;
  position: relative;
}
#ourproducts .bottomside .card:hover .action {
  left: 48px;
  opacity: 1;
}
#ourproducts .bottomside .card:hover .imgbox {
  display: none;
}
#ourproducts .bottomside .card:hover .imgbox-two {
  display: inline-block;
}
#ourproducts .bottomside .card .imgbox-two {
  display: none;
}
#ourproducts .bottomside .card .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: absolute;
  left: -73px;
  top: 64%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#ourproducts .bottomside .card .action li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#ourproducts .bottomside .card .action li:hover {
  background-color: #abd373;
}
#ourproducts .bottomside .card .action li a {
  color: #636161;
}
#ourproducts .bottomside .card .action li a i {
  font-size: 18px;
}
#ourproducts .bottomside .card .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 48px;
}
#ourproducts .bottomside .card .textbox a {
  font-size: 20px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#ourproducts .bottomside .card .textbox a:hover {
  color: #abd373;
}
#ourproducts .bottomside .card .textbox span {
  font-size: 24px;
  color: #abd373;
  margin: 10px 0;
}
#ourproducts .bottomside .card .textbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#ourproducts .bottomside .card .textbox ul li i {
  font-size: 14px;
  color: #ffe24d;
  margin-right: 8px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #ourproducts .bottomside .card {
    width: 50%;
    padding: 16px 32px;
  }
}
@media screen and (max-width: 576px) {
  #ourproducts .bottomside .card {
    width: 100%;
  }
  #ourproducts .bottomside .card .imgbox-two {
    width: 100%;
  }
  #ourproducts .bottomside .card .imgbox-two img {
    width: 100%;
  }
  #ourproducts .bottomside .card .imgbox img {
    width: 100%;
  }
  #ourproducts .bottomside .card .action {
    top: 72%;
  }
  #ourproducts .bottomside .card .textbox {
    padding-left: 0;
  }
}
#shopnow {
  min-height: 100vh;
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 25px;
  padding: 0 40px;
}
#shopnow > div {
  height: 286px;
}
#shopnow > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#shopnow .img-long {
  position: relative;
}
#shopnow .img-long .textbox-long {
  position: absolute;
  left: 10%;
  top: 20%;
}
#shopnow .img-long .textbox-long h5 {
  font-size: 18px;
  font-weight: 500;
}
#shopnow .img-long .textbox-long h2 {
  font-size: 36px;
  margin: 16px 0;
}
#shopnow .img-long .textbox-long button {
  padding: 16px 40px;
  border: none;
  border-radius: 50px;
  background-color: #abd373;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#shopnow .img-long .textbox-long button:hover {
  background-color: #343333;
}
#shopnow .img-small {
  position: relative;
}
#shopnow .img-small .textbox-small {
  position: absolute;
  left: 10%;
  top: 18%;
  width: 300px;
  text-align: center;
}
#shopnow .img-small .textbox-small h5 {
  font-size: 18px;
  font-weight: 500;
}
#shopnow .img-small .textbox-small h2 {
  font-size: 36px;
  margin: 16px 0;
}
#shopnow .img-small .textbox-small button {
  padding: 16px 40px;
  border: none;
  border-radius: 50px;
  background-color: #abd373;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#shopnow .img-small .textbox-small button:hover {
  background-color: #343333;
}

@media screen and (max-width: 992px) {
  #shopnow {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 776px) {
  #shopnow .img-long {
    width: 100%;
  }
  #shopnow .img-small {
    width: 100%;
  }
  #shopnow .img-small img {
    width: 100%;
  }
}
#newproducts {
  min-height: 100vh;
  padding: 100px 0;
}
#newproducts .topside {
  text-align: center;
  display: grid;
  place-items: center;
}
#newproducts .topside h2 {
  font-size: 32px;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;
  display: inline;
}
#newproducts .topside h2::before,
#newproducts .topside h2::after {
  content: "";
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 50%;
}
#newproducts .topside h2::before {
  left: 0;
}
#newproducts .topside h2::after {
  right: 0;
}
#newproducts .topside p {
  font-size: 18px;
  max-width: 580px;
  margin: 30px 0 55px;
  line-height: 1.7;
}
#newproducts .bottomside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
#newproducts .bottomside .card {
  width: 25%;
  position: relative;
}
#newproducts .bottomside .card:hover .action {
  left: 48px;
  opacity: 1;
}
#newproducts .bottomside .card:hover .imgbox {
  display: none;
}
#newproducts .bottomside .card:hover .imgbox-two {
  display: inline-block;
}
#newproducts .bottomside .card .imgbox-two {
  display: none;
}
#newproducts .bottomside .card .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: absolute;
  left: -73px;
  top: 64%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#newproducts .bottomside .card .action li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#newproducts .bottomside .card .action li:hover {
  background-color: #abd373;
}
#newproducts .bottomside .card .action li a {
  color: #636161;
}
#newproducts .bottomside .card .action li a i {
  font-size: 18px;
}
#newproducts .bottomside .card .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 48px;
}
#newproducts .bottomside .card .textbox a {
  font-size: 20px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#newproducts .bottomside .card .textbox a:hover {
  color: #abd373;
}
#newproducts .bottomside .card .textbox span {
  font-size: 24px;
  color: #abd373;
  margin: 10px 0;
}
#newproducts .bottomside .card .textbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#newproducts .bottomside .card .textbox ul li i {
  font-size: 14px;
  color: #ffe24d;
  margin-right: 8px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #newproducts .bottomside .card {
    width: 50%;
    padding: 16px 32px;
  }
}
@media screen and (max-width: 576px) {
  #newproducts .bottomside .card {
    width: 100%;
  }
  #newproducts .bottomside .card .imgbox-two {
    width: 100%;
  }
  #newproducts .bottomside .card .imgbox-two img {
    width: 100%;
  }
  #newproducts .bottomside .card .imgbox img {
    width: 100%;
  }
  #newproducts .bottomside .card .action {
    top: 72%;
  }
  #newproducts .bottomside .card .textbox {
    padding-left: 0;
  }
}
#whatsay {
  max-height: 440px;
  padding: 100px 32px;
  margin: 0 40px;
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/testimonial/bg/1-1-1820x443.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}
#whatsay .topside {
  text-align: center;
  display: grid;
  place-items: center;
}
#whatsay .topside h2 {
  font-size: 32px;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;
  display: inline;
}
#whatsay .topside h2::before,
#whatsay .topside h2::after {
  content: "";
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 50%;
}
#whatsay .topside h2::before {
  left: 0;
}
#whatsay .topside h2::after {
  right: 0;
}
#whatsay .topside p {
  font-size: 18px;
  max-width: 580px;
  margin: 30px 0 55px;
  line-height: 1.7;
}
#whatsay .bottomside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#whatsay .bottomside .card {
  width: 33.33%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  padding: 40px 40px 64px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  max-height: 440px;
  position: relative;
  overflow: hidden;
}
#whatsay .bottomside .card h4 {
  font-weight: 500;
  margin: 20px 0 8px;
}
#whatsay .bottomside .card span {
  font-size: 18px;
}
#whatsay .bottomside .card p {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  line-height: 1.7;
}
#whatsay .bottomside .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 220px;
  height: 200px;
  color: #ffffff;
  background-color: #badf87;
  border-radius: 50%;
  position: absolute;
  right: -90px;
  top: -90px;
  overflow: hidden;
  padding: 0 0 44px 56px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#whatsay .bottomside .card .icon:hover {
  background-color: #555555;
}

@media screen and (max-width: 992px) {
  #whatsay .bottomside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #whatsay .bottomside .card {
    width: 100%;
  }
}
#sponsors {
  padding: 90px;
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/brand/bg/1-1170x300.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 300px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin: 300px 30px 100px;
}
#sponsors .main-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#sponsors .main-side .imgbox {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#sponsors .main-side .imgbox:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  #sponsors {
    margin: 950px 30px 100px;
  }
}
#latestblog {
  min-height: 50vh;
  padding: 0 32px 100px;
}
#latestblog .topside {
  text-align: center;
  display: grid;
  place-items: center;
}
#latestblog .topside h2 {
  font-size: 32px;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;
  display: inline;
}
#latestblog .topside h2::before,
#latestblog .topside h2::after {
  content: "";
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 50%;
}
#latestblog .topside h2::before {
  left: 0;
}
#latestblog .topside h2::after {
  right: 0;
}
#latestblog .topside p {
  font-size: 18px;
  max-width: 580px;
  margin: 30px 0 55px;
  line-height: 1.7;
}
#latestblog .bottomside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#latestblog .bottomside .card {
  background-color: #f6f7fb;
  padding: 35px 30px 40px 30px;
  margin: 0 10px;
  border-radius: 10px;
}
#latestblog .bottomside .card span {
  font-size: 12px;
  color: #abd373;
}
#latestblog .bottomside .card h2 {
  font-size: 20px;
  margin: 16px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#latestblog .bottomside .card h2:hover {
  color: #abd373;
}
#latestblog .bottomside .card p {
  color: #636161;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 24px;
}
#latestblog .bottomside .card .imgbox {
  position: relative;
}
#latestblog .bottomside .card .imgbox .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #abd373;
  border-radius: 50%;
  color: #abd373;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #latestblog .bottomside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #latestblog .bottomside .card {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */