* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  height: 40px;
  padding-right: 32px;
  display: flex;
  align-items: center;
}
nav ul li:hover .main {
  color: #abd373;
}
nav ul li a::before {
  content: "";
  width: 0%;
  height: 1.5px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #000;
}
nav ul li a {
  display: flex;
  align-items: center;
  height: 39px;
  color: #000;
  font-size: 14px;
  position: relative;
}
nav ul li a:hover::before {
  width: 100%;
  background-color: #abd373;
  transition: 0.5s;
}
nav ul .home {
  height: 40px;
  position: relative;
}
nav ul .home:hover .subHome {
  height: 120px;
  opacity: 1;
}
nav ul .home .subHome {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 250px;
  height: 0px;
  background-color: #fff;
  padding: 0 24px;
  position: absolute;
  left: 0;
  top: 100%;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
nav ul .home .subHome a {
  font-size: 16px;
  transition: 0.5s;
  opacity: 1;
  position: static;
}
nav ul .home .subHome a:hover {
  color: #abd373;
  margin-left: 5px;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  height: 48px;
  background-color: #abd373;
}
header .header-top h4 {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
header .header-top .rightSide {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
}
header .header-top .rightSide .currency:after, header .header-top .rightSide .lang::after {
  font-family: FontAwesome;
  border: 0;
  content: "\f078";
  font-size: 10px;
  color: #fff;
  margin-bottom: 4px;
}
header .header-top .rightSide button {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: none;
  margin-right: 4px;
}
header .header-top .rightSide .currency {
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}
header .header-top .rightSide .currency .subCurrency {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 12px 24px;
  width: 120px;
  height: 72px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  display: none;
}
header .header-top .rightSide .lang {
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}
header .header-top .rightSide .lang .subLang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 8px 12px 0;
  width: 120px;
  height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  display: none;
}
header .header-top .rightSide .lang .subLang li {
  width: 100%;
  padding: 4px;
}
header .header-top .rightSide .lang .subLang li:hover {
  background-color: #abd373;
}
header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
  border-bottom: 0.5px solid #cacaca;
}
header .header-bottom .call {
  display: flex;
  align-items: center;
}
header .header-bottom .call .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #abd373;
  border-radius: 20%;
}
header .header-bottom .call .icon i {
  font-size: 18px;
  color: white;
  display: block;
}
header .header-bottom .call span {
  font-size: 20px;
  margin-left: 16px;
  transition: 0.5s;
  cursor: pointer;
}
header .header-bottom .call span:hover {
  color: #abd373;
}
header .header-bottom .imgbox {
  cursor: pointer;
}
header .header-bottom ul {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #929292;
  font-size: 18px;
}
header .header-bottom ul li {
  position: relative;
  cursor: pointer;
}
header .header-bottom ul .hover {
  transition: 0.5s;
}
header .header-bottom ul .hover:hover {
  color: #abd373;
}
header .header-bottom ul .sup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #abd373;
  color: #fff;
  position: absolute;
  left: 14px;
  bottom: 8px;
}

#newplant {
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg");
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 40px 0;
}
#newplant .carousel-item {
  display: flex;
}
#newplant .leftside {
  width: 50%;
  display: flex;
  align-items: center;
}
#newplant .leftside .textbox {
  padding-left: 64px;
}
#newplant .leftside .textbox h3 {
  font-size: 48px;
  font-weight: 500;
  color: #2b2b2b;
}
#newplant .leftside .textbox h1 {
  font-size: 84px;
  font-weight: 500;
}
#newplant .leftside .textbox h4 {
  font-size: 22px;
  margin: 16px 0 48px;
  color: #2b2b2b;
}
#newplant .leftside .textbox button {
  background-color: #abd373;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 24px 48px;
  transition: 0.5s;
}
#newplant .leftside .textbox button:hover {
  background-color: #525252;
}
#newplant .rightside {
  width: 50%;
}/*# sourceMappingURL=main.css.map */